/*toggleCss.css*/
.THIS.toggle {
    display: none;
}
.THIS .slds-pill,.THIS.slds-pill{
    line-height: 26px;
    padding-left: 4px;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,rgb(221, 219, 218));
}
.THIS .slds-pill__label,.THIS.slds-pill__label{
    width:100%;
}
@media only screen and (max-width: 768px) 
    {
    .THIS .main-content{width:96% !important;}
    .THIS .slds-form-element__label{font-size:0.75rem!important;margin-right:0;}
    .THIS .slds-input{padding:0.14rem !important;}
    .THIS .slds-modal__container{}
    .THIS .slds .slds-pill__label{max-width:6rem !important;}
    .THIS .slds-button{line-height:2.4rem !important;}
    .THIS select{height:2.5rem !important;}
    .THIS .slds-text-heading_medium{font-size:1.2rem !important;font-weight:500 !important;}
    .THIS table{font-size:0.8rem !important;}
    .THIS .a_btn{font-size:0.9rem;}
    .THIS #modal-content-id-1{overflow:visible !important;}
    
    .THIS .slds-box{padding:0 !important;}
}