.THIS .slds-page-header{
    padding:1rem !important;
}
.THIS .backdrop
{
    position: absolute;    
    width: 100%;
    height: 100vh;    
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}
.THIS .slds-button--icon-bare
{
    float:right !important;
}
.THIS .slds-3-of-4
{
    width:92% !important;
}
.THIS th
{
    background:#fafaf9 !important;
}
.THIS a:hover
{
    text-decoration:none !important;
}
.THIS .th1
{
    position:relative;
    left:202px;
}
.THIS .th2
{
    position:relative;
    left:268px; 
}
.THIS .th3
{
    position:relative;
    left:348px;
}
.THIS .slds-pill{width:100% !important;}
.THIS.slds-pill{width:100% !important;}
.THIS .slds-spinner_container{position:fixed !important;}
.THIS.slds-spinner_container{position:fixed !important;}
@media only screen and (max-width: 768px) 
{
    .THIS .main-content{width:90% !important;}
    .THIS .Sec-header{padding-left:0.2rem !important;margin-top:16%;}
    .THIS .add-button{text-align:center;}
    .THIS input{min-height:40px !important;}
    .THIS select{min-height:40px !important;}
    .THIS .footer-button button{width:35.4% !important;}
    
    .THIS table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .THIS table tr {
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .THIS table td {
        border-bottom: .5px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .THIS table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        width:44%;
        text-align:left;
    }
    .THIS .slds-table tr > td:first-child{
        padding-left:0.5rem !important;
    }
    .THIS table td:last-child {
        border-bottom: 0;
    }
    
    
}