/*toggleCss.css*/
.THIS.toggle {
    display: none;
}
.THIS #head
{
	/*background-color:#d9138a;*/
    background-color:#007bff;    
}
.THIS #Cash_Payment
{
    color:white;
    font-size:18px; 
    margin-left:42%;
    margin-top:-32px;
}
.THIS .slds-form-element__label
{
	font-size:13px;
}
.THIS .slds-button
{
   
}
.THIS #cash_body
{
  
 	padding-bottom:4%;
}
.THIS #cash_content
{
    background:white;
    margin:0 auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.27);
    padding:2%;
    position:relative;
    border-radius:4px;   
    
}
.THIS #cash_footer
{
    background:#293239;
    display:block;
    width:100%;
    height:50px;
  
}
.THIS .uiButton--default .label
{
    text-shadow:none;
    color:none;
}
.slds-button--brand.THIS 
{
    color:white !important;
}
.THIS .slds-spinner_container
{
    height:100vh !important;
    position:fixed !important;
}
.THIS.slds-spinner_container
{
    height:100vh !important;
    position:fixed !important;
}
@media only screen and (max-width: 768px) 
    {
    .THIS #Cash_Payment{font-size: 20px !important;margin-left: 30%;margin-top: -34px;}
    .THIS .slds-form-element__label{width:100% !important;}
    .THIS table{display:block !important;width:100% !important;overflow:scroll !important;}
}