.THIS .slds-page-header{
    padding:1rem !important;
}
.THIS .slds-button--icon-bare
{
    float:right !important;
}
.THIS .slds-3-of-4
{
    width:92% !important;
}
.THIS th
{
    background:#fafaf9 !important;
}
.THIS a:hover
{
    text-decoration:none !important;
}
.THIS .slds-pill{width:100% !important;}
.THIS.slds-pill{width:100% !important;}
.THIS .slds-spinner_container{position:fixed !important;}
.THIS.slds-spinner_container{position:fixed !important;}


@media only screen and (max-width: 768px) 
    {
    .THIS .main-content{width:96% !important;}
    .THIS .slds-form-element__label{font-size:0.75rem!important;margin-right:0;}
    .THIS .slds-input{padding:0.14rem !important;}
    .THIS .slds-modal__container{}
    .THIS .slds-button{line-height:2.4rem !important;}
    .THIS select{height:2.5rem !important;}
    .THIS .slds-text-heading_medium{font-size:1.2rem !important;font-weight:500 !important;}
    .THIS table{font-size:0.94rem !important;}
    .THIS .a_btn{font-size:0.9rem;}
    .THIS #modal-content-id-1{overflow:visible !important;}
    .THIS .record-header{left:0 !important;}
    .THIS .closeButton{left:0 !important;}
    .THIS .slds-scope .slds-notify_toast{padding: .75rem .5rem .75rem 0.5rem !important;min-width: 21rem !important;margin-top: 0.5rem !important;}
    
    .THIS .slds-grid{display:block !important;}
    .THIS .slds-form-element__row{display:block !important;}
    .THIS .slds-col{width:100%;}
    .THIS .slds-size--1-of-3{width:100%;}
    .THIS .slds-size_1-of-4{width:100% !important;}
    .THIS .slds-size_1-of-6{width:100% !important;}
    .THIS .slds-media{margin-bottom:5px !important;}
    .THIS .slds-form_compound .slds-form-element__row .slds-form-element+.slds-form-element{padding-left:0;}
    .THIS .slds-card__body{padding-bottom:0.75rem;}
}